<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :item_name %>
  </div>

  <div class="field">
    <%= form.label :cate %>
    <%= form.text_field :cate, id: :item_cate %>
  </div>

  <div class="field">
    <%= form.label :sub %>
    <%= form.text_field :sub, id: :item_sub %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
